body {
    display: flex;
    justify-content: top;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #FFBBC1;
    font-family: 'Helvetica', sans-serif;
    flex-direction: column;
  }
  
  .container {
    text-align: center;
  }
  
  h1 {
    margin-top: 100px;
    font-size: 2.25em;
    color: #C00000;
  }
  
  .buttons {
    margin-top: 10px;
  }
  
  .yes-button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #FF8896;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }

  .no-button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #FF8896;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .gif_container img {
    max-width: 80%;
    height: auto;
    border-radius: 25px;
    margin-top: 20px;
  }